.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  .convert__items {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .convert__items.active {
    font-weight: 700;
  }
  
  .items {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
  }
  
  .items__error {
    margin: 0;
    color: red;
  }
